{% extends 'base.html'%}

{% block head%} 
  <title>WAR</title>
{% endblock%}

{% block body%} 
  <body>
    <div class="start_content">
      <a href="#bottom" class="bottom">Click here to see who won!</a>
      {% if game_contents %}
        <ul>
          {% for content in game_contents %}
            <li>{{ content }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      
      <a href="/scores" id="bottom">View Scores</a>
      <a href="/" >Home</a>
      <a href="/start" >Play again</a>
  
    </div>
    
  </body>
{% endblock%}